<div *ngIf="isVisible"
  class="fixed bottom-0 left-0 w-full bg-black border-t border-terminal p-2 z-40 flex justify-between items-center text-xs font-mono text-secondary opacity-80 hover:opacity-100 transition-opacity">
  <div class="flex gap-6">
    <span>> {{ 'STATS.SYSTEM_STATUS' | translate }}: <span class="text-primary">ONLINE</span></span>
    <span>> {{ 'STATS.UPTIME' | translate }}: <span class="text-primary">{{ uptime }}</span></span>
    <span>> {{ 'STATS.MEMORY' | translate }}: {{ memoryUsage }}MB</span>
  </div>
  <div class="flex gap-6 px-4">
    <span>> {{ 'STATS.CLIENT' | translate }}: {{ visitorIp }}</span>
    <span>
      > FE: <span class="text-primary">v{{ frontendVersion }}</span> | BE: <span class="text-primary">v{{ backendVersion
        }}</span>
    </span>
    <span>> {{ 'STATS.MODULES' | translate }}: {{ 'STATS.LOADED' | translate }}</span>
    <span>> &copy; {{ currentYear }} Sergii Mavrov. All rights reserved.</span>
  </div>
</div>