@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-black text-primary font-mono antialiased overflow-x-hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-black border-l border-white/20;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary hover:bg-opacity-80;
}

@layer components {

  /* Terminal Cursor */
  .terminal-cursor::after {
    content: '█';
    animation: cursor-blink 1s step-end infinite;
    @apply text-primary ml-1;
  }

  /* Terminal Border Utility */
  .border-terminal {
    border: 1px solid rgba(0, 255, 0, 0.3);
  }

}

@keyframes cursor-blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}